<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ToDoApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
				<key>dateExpires</key>
				<string>2021/04/18</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78A31C162AD25253E7769530BE35A6C551E6262A</string>
						<key>dateExpires</key>
						<string>2021/04/18</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>73V56U6U9R</string>
						<key>name</key>
						<string>Tomohiro Aga</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>73V56U6U9R.agachan.tokyo.ToDoApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>73V56U6U9R</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>73V56U6U9R.agachan.tokyo.ToDoApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>ToDoApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>62c40556-20e1-4ff9-aca3-805f8c957985</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>73V56U6U9R</string>
				<key>name</key>
				<string>Tomohiro Aga</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
