<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999259418522-2ipsamvfj5vaeqatacte5ktcn91qcmel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999259418522-2ipsamvfj5vaeqatacte5ktcn91qcmel</string>
	<key>API_KEY</key>
	<string>AIzaSyBTsc96Y6bCh6cBloftyMbqRjWoUEdSzcM</string>
	<key>GCM_SENDER_ID</key>
	<string>999259418522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>agachan.tokyo.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-fb9db</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-fb9db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999259418522:ios:30b929eb9c721bf39b5423</string>
</dict>
</plist>